/* Set default RTL direction */
body {
    direction: rtl;
    text-align: right;
}

/* Text Alignment */
.text-start {
    text-align: right !important;
}

.text-end {
    text-align: left !important;
}

/* Float utilities */
.float-start {
    float: right !important;
}

.float-end {
    float: left !important;
}

.list-inline-item:not(:last-child) {
    margin-left: 0.5rem;
    margin-right: unset;
}

/* Margin utilities */

.ms-auto {
    margin-right: auto !important;
    margin-left: 0 !important;
}

.me-auto {
    margin-left: auto !important;
    margin-right: 0 !important;
}

.ms-3 {
    margin-right: 1rem !important;
    margin-left: 0 !important;
}

.me-3 {
    margin-left: 1rem !important;
    margin-right: 0 !important;
}

/* Padding utilities */
.ps-3 {
    padding-right: 1rem !important;
    padding-left: 0 !important;
}

.pe-3 {
    padding-left: 1rem !important;
    padding-right: 0 !important;
}

/* nice-select */
.nice-select {
    padding-right: 18px;
    padding-left: 30px;
    text-align: right !important;
}

.nice-select:after {
    left: 12px;
    right: unset;
}

.nice-select .list {
    right: 0;
    left: unset;
}

.nice-select .option {
    padding-right: 18px;
    padding-left: 29px;
    text-align: right;
}

.dropdown-menu {
    left: auto !important;
    right: 0 !important;
    text-align: right;
}

/* Inputs & Forms */
input,
textarea,
select {
    text-align: right;
}

/* Icon spacing */
.icon-left {
    margin-left: 0 !important;
    margin-right: 10px !important;
}

.icon-right {
    margin-right: 0 !important;
    margin-left: 10px !important;
}

.rate {
    background-position: 100% -16px;
}

.rating {
    background-position: 100% 0;
}

.accordion-button::after {
    margin-right: auto;
    margin-left: unset;
}

/* .breadcrumb */
.breadcrumb-item+.breadcrumb-item {
    padding-right: var(--bs-breadcrumb-item-padding-x);
    padding-left: unset;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: right;
    padding-left: var(--bs-breadcrumb-item-padding-x);
    padding-right: unset;
}

/* pagination */
.page-item:first-child .page-link {
    border-top-right-radius: var(--bs-pagination-border-radius);
    border-bottom-right-radius: var(--bs-pagination-border-radius);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.page-item:not(:first-child) .page-link {
    margin-right: calc(-1 * var(--bs-border-width));
    margin-left: unset;
}

.pagination .page-item:not(:first-child) .page-link {
    margin-left: 0;
    border-left: 1px solid var(--bs-border-color);
}

.page-item:last-child .page-link {
    border-top-left-radius: var(--bs-pagination-border-radius);
    border-bottom-left-radius: var(--bs-pagination-border-radius);
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

/* pagination end */

.form-check {
    padding-right: 1.5em;
    padding-left: unset;
}

.form-check .form-check-input {
    float: right;
    margin-right: -1.5em;
    margin-left: unset;
}

.list-inline {
    padding-right: 0;
}

.list-group {
    padding-right: 0;
}

.list-unstyled {
    padding-right: 0;
}

/* ------ Defalt rtl css end -------- */

/* header rtl css */
.header-right .language i {
    right: 0px;
    left: unset;
}

.header-right .language .nice-select:after {
    right: unset;
    left: 0;
}

.navbar .navbar-nav .dropdown-item::after {
    left: unset;
    right: 0px;
}

/* header-area end */

/* mobile menu rtl */
.mobilemenuoffcanvas.offcanvas.offcanvas-start {
    right: 0 !important;
    left: unset !important;
    border-left: var(--bs-offcanvas-border-width) solid var(--bs-offcanvas-border-color);
    transform: translateX(100%);
}

.mobilemenuoffcanvas.offcanvas.offcanvas-start.show:not(.hiding),
.mobilemenuoffcanvas.offcanvas.offcanvas-start.showing {
    transform: none;
}

.mobile-menu .nav-link.dropdown-toggle::after {
    right: unset;
    left: 0;
}

.mobile-search .search-form .btn-icon {
    right: unset;
    left: 20px;
}

.menu-action-item-wrapper .menu-action-item .plus-icon {
    float: left;
}

/* mobile menu rtl end */

/* footer */
.subscribe-group-btn .subscribe-btn {
    left: 0;
    right: unset;
}

/*------- page rtl css start------- */

/* about-area */
.about-area .about-image {
    left: unset;
    right: 0;
}

.choose-area .choose-card-2 .vactor .vactor-1 {
    left: -90px;
    right: unset;
}

.pricing-area .pricing-card-header .icon {
    left: -21px;
    right: unset;
}

.single-page-details .single-page-wrapper .post-share ul.social-link li a i {
    margin-left: 10px !important;
    margin-right: unset !important;
}

.sidebar-widget-area .widget.recent-post-widget .recent-post-list .post-thumbnail-content .post-title-date .posted-on i {
    margin-left: 10px !important;
    margin-right: unset !important;
}

.sidebar-widget-area .widget.recent-post-widget .recent-post-list .post-thumbnail-content img {
    margin-left: 20px !important;
    margin-right: unset !important;
}

.sidebar-widget-area .widget.categories-widget ul.widget-link li a span {
    float: left !important;

}

.single-page-details .single-page-wrapper .post-item .entry-content .entry-meta ul li span i {
    margin-left: 10px !important;
    margin-right: unset !important;
}
.experience-wrapper .experience-wrapper-title span {
    margin-left: 15px;
    margin-right: unset !important;
}
.experience-list .single-experience::before{
    right: 0;
    left: unset !important;
}
.experience-list .single-experience {
    padding-right: 60px;
    padding-left: unset !important;
}

.experience-list .single-experience:not(:last-child)::after {
    right: 11px;
        left: unset !important;
}
.sidebar-widget-area .widget.search-widget .form_group .search_btn{
    left: 20px;
    right: unset !important;
}
