@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?jaz8jy");
  src: url("fonts/icomoon.eot?jaz8jy#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?jaz8jy") format("truetype"),
    url("fonts/icomoon.woff?jaz8jy") format("woff"),
    url("fonts/icomoon.svg?jaz8jy#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-artcriticism:before {
  content: "\e900";
  color: currentColor;
}
.icon-artcuration:before {
  content: "\e901";
  color: currentColor;
}
.icon-education:before {
  content: "\e902";
  color: currentColor;
}
.icon-restoration:before {
  content: "\e903";
  color: currentColor;
}
